<div class="card mt-4">
  <div class="card-header d-flex justify-content-between">
    <h5 class="mb-0"><%= @restaurant.name %></h5>
    <h5 class="mb-0"><%= @flags[@restaurant.category]%></h5>
  </div>

  <div class="card-body">
    <p class="card-text mb-0"><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %></p>
    <p class="card-text mb-0"><i class="fas fa-phone"></i> <%= @restaurant.phone_number %></p>
    <div class="card-body">
      <h5 class="card-title">Write a review:</h5>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content, label: false %>
        <%= f.input :rating,
        collection: [[1, '⭐️'], [2, '⭐️' * 2], [3, '⭐️' * 3], [4, '⭐️' * 4], [5, '⭐️' * 5]],
        label_method: :second, value_method: :first,
        prompt: "Select a rating",
        error: "Rating can't be blank"
        %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item"><%= '⭐️' * review.rating %> – <%= review.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
